<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <a>{{.date}}</a>
    <br/>
    <a>hello {{.name}} !</a>
    <br/>
    <a href="http://0.0.0.0{{.addr}}"> panic </a>
</body>
</html>